<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update order</title>
</head>
<body>
<h1>Update Order</h1>
<form method="post" th:action="@{/orders/{id}(id=${order.id})}">
    <input name="_method" type="hidden" value="PUT">
    <input name="id" th:value="${order.id}" type="hidden">
    <p>
        <label>Put in amount</label>
        <label>
            <input name="totalAmount" th:value="${order.getTotalAmount()}"
                   type="number">
        </label>
        <label>
            <input name="status" th:value="${order.getStatus()}" type="number">
        </label>
    </p>
    <button type="submit">Update Order</button>


</form>


</body>
</html>
